<!-- src/main/resources/templates/fragments/navbar.html -->
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg custom-navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/aquafin-logo.png" alt="Aquafin" class="logo" />
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="cartDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-cart"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end cart-dropdown" aria-labelledby="cartDropdown">
                            <div class="cart-header">
                                <span>Winkelmandje</span>
                                <button type="button" class="btn-close" data-bs-toggle="dropdown" aria-label="Sluiten"></button>
                            </div>
                            <table class="table cart-table">
                                <thead>
                                <tr><th>Productnaam</th><th>Aantal</th></tr>
                                </thead>
                                <tbody>
                                <tr><td>Productnaam 1</td><td>2</td></tr>
                                <tr><td>Productnaam 2</td><td>1</td></tr>
                                </tbody>
                            </table>
                            <button class="btn btn-primary btn-bestel">Bestellen</button>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            User
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li><a class="dropdown-item" href="bestellingen.html">Bestellingen</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="/logout">Uitloggen</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>