<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wachtwoord vergeten</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <img src="https://www.aquafin.be/themes/custom/aquafin/logo.svg" alt="Aquafin Logo" class="logo">
    <div class="login-box">
        <p>Wachtwoord vergeten? Geen probleem, vul je e-mailadres in en we maken een aanvraag om je wachtwoord te resetten.</p>
        <h3>Geef je e-mail in.</h3>
        <form method="post" th:action="@{/reset-request}">
            <input type="email" name="email" placeholder="E-mail..." required><br>
            <button type="submit">Aanvraag <span>❯</span></button>
        </form>
        <br>
        <a href="/login">
            <button type="button">Inloggen <span>❯</span></button>
        </a>
    </div>
</div>
</body>
</html>
