<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Reset Bevestiging</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
  <img src="https://www.aquafin.be/themes/custom/aquafin/logo.svg" alt="Aquafin Logo" class="logo">
  <div class="login-box">
    <p>Er is een e-mail verzonden met instructies om je wachtwoord te resetten.</p>
    <a href="/login">
      <button type="button">Terug naar login <span>❯</span></button>
    </a>
  </div>
</div>
</body>
</html>
